
    @media screen and (max-width: 1024px) {
      .container {
        max-width: 1024px;
        padding: 0 50px;
        margin: 0 auto
      }

      :root {
        --container-padding-left: 50px;

      }

      .header__nav {
        display: none;
      }

      .header__burger {
        display: flex;
        transform: translateX(-6px);
      }

      .header__search {
        display: flex;
        background-color: rgb(0, 0, 0, 0);
      }

      .header__button {
        display: none;
      }

      .header__top {
        padding-left: 6px;
        padding-top: 20px;
        padding-right: 28px;
        padding-bottom: 19px;
      }

      .logo__pic {
        width: 187.6px;
        height: 42px;
      }

      .header__logo {
        transform: translateX(8px) translateY(7px);
      }

      .header__search {
        transform: translateY(4px) translateX(35px);
      }

      .header__bottom {
        display: none;
      }

      .hero__text {
        padding-top: 13px;

      }

      .hero__header {
        margin-bottom: 13px;
      }

      .hero__description {
        margin-bottom: 133px;
        width: 661px;
      }

      .img1 {
        background-image: url('../img/hero/tabing1.png');
      }

      .img2 {
        background-image: url('../img/hero/tabimg2.png');
      }

      .img3 {
        background-image: url('../img/hero/tabimg3.png');
      }

      .swiper-container {
        height: 768px;
      }

      .about {
        padding-top: 73px;
      }

      .about__description {
        width: 925px;
      }

      .choices {
        width: 280px;
      }

      .gallery__swiper-container {
        width: 594px;
        height: 315px;
        overflow: hidden;
      }
/*
      .gallery__swiper-slide {
        width: 280px !important;
      }
*/
      .card__picture {
        width: 437px;
        height: 274px;
      }

      .card__description {
        width: 440px;
      }

      .catalog__sect {
        padding-left: 47px;
        transform: translateY(3px);
      }

      .column {
        max-height: 439px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 56px;
        -moz-column-gap: 56px;
        column-gap: 56px;
      }

      #accordion {
        min-width: 437px;
      }

      .events__swiper {

        width: 924px;
        height: 683px;
        /*transform: translateX(-3px);*/
      }

      .magnifier {
        width: 260px;
        height: 260px;

          top: calc(50% - 130px);
          left: calc(50% - 130px);
 
      }

      .events__cover {
        width: 290px;
        height: 200px;
      }

      .events__where {
        text-align: right;
        letter-spacing: 0px;
      }

      .events__desc {
        padding-top: 9px;
        padding-right: 15px;
      }

      .events__subheader {
        margin-bottom: 5px;
        padding-left: 33px;
        padding-top: 3px;
        letter-spacing: 0;
      }

      .events__where {
        padding-right: 17px;
      }

      .events__what {
        padding-left: 33px;
        max-width: 250px;
        letter-spacing: -0.1px;
      }

      .events__more {
        bottom: 43px;
        left: 25px;
      }

      .events {
        padding-bottom: 120px;
      }

      .events__swiper-button-prev .projects__text {
        max-width: 925px;
      }

      .project__swiper {
        padding-top: 11px;
        width: 1450px;
      }

      .project__img {
        width: 382px;
        height: 121px;
      }

      .project__swiper-button-prev {
        top: 59px;
      }

      .project__swiper-button-next {
        top: 59px;
      }

      .projects {
        padding-bottom: 69px;
      }

      .contacts__content {
        display: inline-block;
      }

      .contacts__address {
        margin-bottom: 34px;
      }

      .contacts__tel {
        margin-right: 20px;
      }

      .contacts__submit {
        width: 341px;
      }

      .callback__form {
        margin-bottom: 41px;
      }

      .contacts__oneclick {
        padding-left: 0;
      }

      .contacts__note {
        margin-bottom: 18px;
      }

      .ymaps-2-1-79-copyright .ymaps-2-1-79-copyright_logo_no .ymaps-2-1-79-copyright_fog_yes {
        width: 1024px !important;
        height: 700px !important;
      }

      .contacts {
        padding-bottom: 9px;
      }

      .footer__logo {
        transform: translateX(-99px) translateY(4px);
      }

      .social__item>svg {
        width: 60px !important;
        height: 60px !important;
      }

      .social__list {
        transform: translateX(110px) translateY(-3px);
      }

      .social__item:not(:last-child) {
        margin-right: 30px;
      }
    }

