@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto
  }
.logo__pic{
  width: 24.1vw;
}
.header__burger{
  width: 4.7vw;
  padding: 0;
  background-size: contain;
  transform:none;
}
.header__logo{
  padding:0;
  width:24.5vw;
  height: 40px;
  background: url('../img/logo/logo.png');
  background-size: cover;
}
  .img1 {
    background-image: url('../img/hero/768img1.png');
  }

  .img2 {
    background-image: url('../img/hero/768img2.png');
  }

  .img3 {
    background-image: url('../img/hero/768img3.png');
  }

  .about__description {
    width: 100%;
  }

  .gallery__content {
    display: inline-block;
    width: 100%;
  }

  .choices {
    width: 281px;
    margin: 0;
    margin-bottom: 76px;
  }

  .hero__description {
    width: 100%;

  }

  .header__top {
    padding-left: 0;
    padding-top: 31px;
    padding-right: 0;
    padding-bottom: 29px;
  }
  .header__search{
    padding:0;
    transform: none;
  }
  .hero__header {

    font-size: 9vw;
    letter-spacing: 2px;

  }

  .hero__text {
    width: 100%;
   
  }

  .card__picture {
    width: 100%;
    height: 418px;
  }

  .gallery__right {
    width: 100%;
    padding: 18px 0 0 0;
  }

  .gallery__swiper-container {
    height: 330px;
  }
.gallery__swiper-page-container{
  transform: translateX(-10px);
}
  .gallery__option {
    position: absolute;
    bottom: -77px;
    left: -16px;
  }

  .gallery {
    padding-bottom: 76px;
  }

  .catalog__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .catalog__sect {
    padding-left: 1px;
    transform: translateY(-16px);
  }
/*
  .column {
    max-height: 319px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 6.4%;
    -moz-column-gap: 6.4%;
    column-gap: 6.4%;
  }

*/

  #accordion {
    min-width: 320px;
    margin-bottom: 32px;
  }



  .catalog {
    padding-bottom: 70px;
  }

  .events {
    padding-bottom: 80px;
  }

  .events__header {
    margin-bottom: 18px;
  }

  .events__cover {
    height: 200px;
    background-size: 317px 200px;
  }

  .events__swiper {

    min-height: 683px;
    /*transform: translateX(-3px);*/
  }

  .events__content {
    width: 100%;


  }

  .projects__text {
    margin-bottom: 28px;
  }


  .project__swiper-slide {
    height: 106px;
  }
  .project1 {
    background-size:382px 117px;
  }
  .project2 {
    background-size:290px 106px;
  }
  .project__swiper-button-prev {
    top: 55px;
  }

  .project__swiper {
    padding: 17px 53px;
  }

  .project__swiper-button-next {
    top: 55px;
  }

  .projects {
    padding-bottom: 66px;
  }

  .contacts__name, .contacts__tel {
    width: 323px ;
  }

  .contacts__name {
    margin-bottom: 10px;
  }

  .contacts__tel {
    margin: 0;
    margin-bottom: 20px;
  }



  .callback__form {
    position: relative;
    margin-bottom: 104px;
  }

  .contacts__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
  }

  .contacts__submit {
    position: relative;
    padding: 11px 24px;
    width: 318px;
    height: 70px;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    /* identical to box height */
    text-align: center;
    color: #9D5CD0;
    background-color: rgb(0, 0, 0, 0);
  }

  .contacts__note {
    margin-bottom: 17px;
  }



  .footer__logo {
    transform: none;
  }

  .social__item>svg {
    width: 60px ;
    height: 60px ;
  }

  .social__list {
    transform: none;
  }

  .social__item:not(:last-child) {
    margin-right: 30px;
  }

  .accordion__button {
    right: -1px;
    top: 31px;
  }

  .card__description {
    width: 100%;
    max-width: 100%;
    transform: translateX(1px);
  }

  .events__where {
    padding-right: 1px;
  }

  .events__subheader {
    padding-left: 36px;
    margin-bottom:-1px;
  }

  .events__what {
    padding-left: 36px;
    padding-right: 0;
    padding-bottom: 103px;
    padding-top: 5px;
  }
.correct{
  padding-left: 36px;
  padding-right: 0;
  padding-bottom: 103px;
  padding-top: 12px;
}
  .events__more {
    bottom: 42px;
    left: 27px;
  }

  .events__swiper-button-next {
    display: none;
  }

  .events__swiper-button-prev {
    display: none;
  }

  .events__swiper-pagination {
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;

  }

  .event__correct {
    padding-left: 36px;
    padding-top: 6px;
  }

  .project__text {
    max-width: 657px;
    margin-bottom: -4px;
  }

  .project {
    padding-bottom: 53px;
  }

.project__partners{
  margin-bottom:12px;
}

  .project__swiper {
    padding: 0;
    padding-top: 17px;
    width: 100%;
    height: 123px;
  }

  .project__company {
    width: 84%;
    margin: 0 auto;
    padding: 0;
  }

  .contacts {
    padding-top: 50px;
    padding-bottom: 11px;
  }

  .contacts__addr {
    transform: translateY(-2px);
  }

  .contacts__address {
    margin-bottom: 34px;
  }

  .contacts__block {
    height: 62px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 40px 50px;

  }

  .footer__linklogo {
    padding-top: 10px;
  }
  .accordion__list {
    width:101.9%;
    padding: 0;
    padding-top: 26px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto
  }

  .logo__pic {
    width: 97px;
    height: 22px;
  }

  .hero__description {
    margin-bottom: 40px;
  }

  .hero__header {
    transform: none;
  }

  .swiper-container {
    height: 355px;
  }

  .nav__list {
    display: block;
  }

  .img1 {
    background-image: url('../img/hero/320img1.jpg');
    width: 320px;
  }

  .img2 {
    background-image: url('../img/hero/320img2.png');
    width: 320px;
  }

  .img3 {
    background-image: url('../img/hero/320img3.png');
    width: 320px;
  }

  .header__burger {
    transform: translateX(-6px) translateY(-2px);
  }

  .logo__pic {
    width: 96.8px;
    height: 21.67px;
  }

  .header__search {
    width: 25px;
    height: 18px;
      transform: translateY(8px) translateX(36px);
    background:url('../img/search.png');
  }

  .header__search img {
    width: 25px;
    height: 17px;
  }

  .header__logo {
    transform: translateX(-12px) translateY(2px);
  }

  .header__burger {
    width: 25px;
    height: 18px;
    background-image: url('../img/Burger320.png');
    background-repeat: no-repeat;
  }

  .header__top {
    padding-left: 6px;
    padding-top: 9px;
    padding-right: 11px;
    padding-bottom: 7px;
  }


  .img1, .img2, .img3 {
    width: 320px;

  }

  .hero__slider {
    top: 44px;
  }

  .hero__header {
    width: 258px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }

  .hero {
    padding: 62px 0 7px 0;
  }


  .hero__description {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.2px;
  }

  .hero__button {
    width: 200px;
    height: 40px;
    padding: 10px 3px;
    font-size: 12px;
    line-height: 16px;
    transform: translateX(28px);
  }


  .about__header {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .about__description {
    max-width: 280px;
    font-size: 14px;
    line-height: 28px;
  }

  .about {
    padding-top: 88px;
    padding-bottom: 40px;
  }

  .gallery {
    padding-top: 51px;
  }

  .gallery__header {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__subheader {
    margin-bottom: 5px;
  }

  .choices__item--selectable {
    padding-left: 11px;
  }

  .choices {
    width: 290px;
  }

  .gallery__option {
    bottom: -67px;
  }

  .gallery__swiper-page-container {
    position: absolute;
    bottom: 0;
    left: 120px;
  }

  .gallery__right {
    position: relative;
    padding: 5px 0 0 0;
  }

  .gallery__swiper-slide {
    width: 290px ;
  }

  .gallery__swiper-container {
    width: 320px ;
  }

  .magnifier {

    left: 16px;
  }

  .gallery__swiper-pagination {
    margin-right: 7px;
  }

  .gallery__swiper-page-container {
    position: absolute;
    bottom: -116px;
    left: 76px;

  }

  .swiper-button-next {
    left: 13px;
  }

  .gallery {
    padding-bottom: 133px;
  }

  .catalog__header {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 31px;
  }

  .catalog {
    padding-top: 48px;
    padding-bottom: 52px
  }

  .catalog__content-text {
    display: none;
  }

  .accordion__header {
    font-size: 18px;
    line-height: 31px;
  }

  .ui-accordion .ui-accordion-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rotator {
    top: 6px ;
  }

  .column {
    max-height: 100%;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 49px;
    -moz-column-gap: 49px;
    column-gap: 49px;
  }



  .ui-accordion .ui-accordion-content {
    padding-bottom: 22px;
  }

  #accordion {
    min-width: 290px;
  }

  .accordion__button svg {
    width: 30px;
    height: 30px;
  }

  .accordion__button {
    right: 1px;
    top: 14px;
  }

  .card__picture {

    height: 181px;
    margin-bottom: 13px;
  }

  .card__header {
    margin-bottom: 15px;
  }



  .events__header {
    font-size: 28px;
    line-height: 38px;
  }

  .events__cover {
    height: 200px;
  }

  .events__swiper {

    margin-bottom: 20px;
  }

  .events__content {
    width: 100%;
    transform: translateY(-4px);
  }

  .events__where {
    padding-right: 17px;
    margin-bottom: 6px;
  }

  .events__desc {
    padding-top: 10px;
    padding-right: 0;
  }

  .events__subheader {
    padding-left: 22px;
    margin-bottom: 2px;
    font-size: 24px;
    line-height: 33px;
  }

  .events__what {
    padding-left: 22px;
    padding-bottom: 98px;
  }

  .events__more {
    left: 20px;
    bottom: 44px;
  }

  .events__swiper-pagination {
    position: relative;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    justify-content: center;
  }

  .projects__header {
    font-size: 28px;
    line-height: 38px;
  }

  .events {
    padding-bottom: 45px;
  }

  .project {
    padding-bottom: 0;
  }

  .project__company {
    width: 100%;
  }

  .project__header {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;

    color: #333333;

  }

  .project__partners {
    font-size: 18px;
    line-height: 32px;
  }

  .project__partners {
    margin: 0;
    padding-top: 13px;
  }

  .project__img {
    width: 195px;
    height: 65px;
  }

  .project__swiper {
    width: 100%;
    height: 77px;
    padding: 11px 0 0 0;
    margin: 0 auto;

  }



  .project__swiper-slide {
    height: 65px;

  }

  .project__swiper-button-prev {
    top: 28px;
  }

  .project__swiper-button-next {
    top: 28px;
  }

  .contacts__org {
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
  }

  .projects {
    border: none;
    padding: 0;
  }

  .project__text {
    margin-bottom: -3px;
  }

  .contacts {
    padding-top: 64px;
    border: none;
    margin-bottom: -20px;
  }

  .contacts__addr {
    font-size: 14px;
    line-height: 19px;
    transform: translateY(-4px);
  }

  .contacts__address {
    margin-bottom: 12px;
  }

  .contacts__name, .contacts__tel {
    width: 290px ;
    height: 41px;
  }

  .contacts__name {
    margin-bottom: 20px;
  }

  .callback__form {
    display: block;
  }

  .contacts__form {
    display: block;
    margin-bottom: 32px;
  }


  .swiper-slide {
    background-position-y: -44px;
  }

  .contacts__submit {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    width: 128px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9D5CD0;
    border: 2px solid #9D5CD0;
    box-sizing: border-box;
    border-radius: 100px;
    transform: translateY(-1px);
  }

  .contacts__submit::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9D5CD0;
  }

  .callback__form {
    margin-bottom: 52px;
  }

  .contacts__tel, .contacts__name {
    padding-left: 21px;
    transform: translateY(-1px);
  }

  .contacts__tel {
    margin-bottom: 20px;
  }

  .contacts__note {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  .contacts__wa {
    width: 50px;
    height: 50px;
  }

  .contacts__telegram {
    width: 50px;
    height: 50px;
  }

  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }

  .maps__container {
    width: 100%;
    height: 320px;
  }

  .footer {
    padding: 21px 0 27px 7px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .social__link>svg {
    width: 50px ;
    height: 50px ;
  }

  .social__list {
    transform: none;
    margin-bottom: 15px;
  }

  .footer__logo {
    width: 96.8px;
    height: 21.67px;
    transform: translateX(-2px) translateY(0);
    padding-right: 1px;
  }
}